*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 97%;
    border: 4px solid rgb(0, 0, 0); 
    align-items: center;
}

Scene {
    height:300px;
    display: flex;
    justify-content: space-between;
    border: 4px solid rgb(255, 255, 0);     
    align-items: center;
    background-color: beige;
}

Monstres {
    border: 4px solid rgba(255, 187, 0, 0);     
    display: flex;
    flex-direction: column;
}
Monstres:hover {
    border: 4px solid rgb(255, 180, 42);    
}
Equipe {
    border: 4px solid rgba(42, 195, 255, 0);     
    display: flex;
    flex-direction: column;
}
Personnage {    
    border: 4px solid rgba(42, 195, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

Personnage:hover {
    border: 4px solid rgb(42, 195, 255);    
}
Description {
    border: 4px solid rgb(29, 57, 148); 
}

Interface {
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-color: aquamarine;
}

MenuAction {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

DivA{
    background-color: rgb(245, 232, 48);
    border: 4px solid rgb(235, 148, 17);
}

DivA:hover {
    border: 4px solid greenyellow;
    background-color: rgb(29, 152, 235);
}

DivMonstre1:hover{
    border: 4px solid rgb(235, 148, 17);
}

DivPersonnage1:hover{
    border: 4px solid rgb(235, 148, 17);
}